.mapWrapper {
  display: grid;
  justify-items: center;
  width: 100%;
  height: 50vh;
  position: absolute;
  right: 0;
  background: #f9f1f0;
}

svg {
  position: absolute;
  max-width: 100%;
  transform: scale(0.9);
}

.prefetureClass {
  position: absolute;
  bottom: 1rem;

}

.clickedPlaceClass {
  top: 1rem;
  right: 10vw;
  position: absolute;

}

path {
  stroke: #000;
  fill: transparent;
}

path:hover {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  svg {
    transform: scale(1.2);
  }
  .clickedPlaceClass {
    right: 25vw;
  }
}

@media screen and (max-width: 700px) {
  .clickedPlaceClass {
    top: 2rem;
    right: 22vw;
  }
  .prefetureClass {
    bottom: 2rem;
  }
}
@media screen and (max-width: 500px) {
  .clickedPlaceClass {
    top: 2rem;
    right: 18vw;
  }
  .prefetureClass {
    bottom: 1rem;
  }
}

@media screen and (max-width: 400px) {
  svg {
    transform: scale(1.9);
  }
  .clickedPlaceClass {
    top: 3rem;
  }
  .prefetureClass {
    bottom: 2rem;
  }
}
